<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grow Ai Login</title>
    <link rel="stylesheet" href="login.css"/>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="login-div">
        <div class="login-para">
        <h2>Logo</h2>
        <p>Welcome to Grow Ai</p>
        <p>Master your interview, Conquer your bias</p>
        </div>
        <div class="login">
                
                    <div class="sign-in-button">
                        <button class="btn">Continue with Google</button>
                    </br>
                        <button class="btn">Continue with LinkedIn</button>
                    </div>
                        Or
                        <form action="#" novalidate class="needs-validation">
                        <div class="login-container" >
                            <div class="login-input mb-2">
                        <label for="email" class="form-label">Email or Username</label><br>
                        <input type="text" class="form-control" placeholder="Enter Email or Username" name="email" id="email" required/><br>
                        </div>
                        <div class="login-input mb-2">
                        <label for="pass" class="form-label">Enter Password</label><br>
                        <input type="password" class="form-control"  placeholder="Enter password" name="pass" id="pass" required/><br>
                        </div>
                        <a href="#" class="forgot-pass">Forgot Password</a><br>
                        <button class="btn mt-3" style="width:100%;border:1px solid rgb(152, 146, 146);">Sign in</button>
                        <p class="mt-2">Don't have an account? <a href="#">Sign up</a></p>
                        </div>
                </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>