body{
    margin-top:20rem;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
}

.login-div{
    border:1px solid rgb(247, 241, 241);
    box-shadow: 0 10px 10px rgb(186, 181, 181);
    text-align: center;
    padding:3rem;
}

.sign-in-button button{
    width:100%;
    margin-bottom:1rem;
    border:1px solid rgb(152, 146, 146);
}
.sign-in-button button:hover{
    background-color: rgb(247, 240, 240);
    border:1px solid rgb(152, 146, 146);
    box-shadow: 0px 0px 5px rgb(186, 181, 181);

}
.sign-in-click-button:hover{
    background-color: rgb(247, 240, 240) !important;
    border:1px solid rgb(152, 146, 146) !important;
    box-shadow: 0px 0px 5px rgb(186, 181, 181) !important;

}
.login-input{
    text-align: left;
}
