body{
    margin:0;

}


.grow-ai-logo{
    padding:0.5rem 1rem;
}

.practice-container{
    display:flex;
}
.side-bar{
    width:15%;
    height:100vh;
    border: 1px solid black;
    
   
}
.side-bar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.side-bar-icon-container{
    padding:1rem 1.5rem;
    height:60vh;
}
.side-bar-icon{
    width:100%;
    height:5rem;
    /* background-color: aqua; */
    margin-bottom: 0.2rem;
    display:flex;
    justify-content: center;
    align-items:center;
    opacity:0.7;
    
   
  
}
.side-bar-icon:hover{
    opacity:1;
}
.side-bar-icon:hover{
    background-color: rgb(241, 234, 234);
    border-radius: 1rem;
}
.side-bar-icon i{
    font-size: 1.5rem;
    margin-right:0.7rem;
    
}

.profile-link{
    padding:1rem 1.5rem;
    display:flex;
    /* justify-content:center; */
    height:10vh;
 
    align-items:center;
}
.profile-link i{
    font-size:1.4rem ;
    width:2.2rem;
    height:1.35em;
    border-radius: 50%;
    background-color:rgb(250, 126, 250);
    margin-right:0.8rem;
}

.main-content{
    width:50%;

}
.video-analysis{
    width:35%;
  
    background-color: rgb(239, 251, 247);
    padding:1.5rem 1rem;

}
.main-content{
    background-color: rgb(239, 251, 247);
   
}
.content{
 
    padding:1rem 0.5rem;
    background-color: white;
    margin:1rem 1rem;
    border-radius:2rem;
}
.mock-interview-heading{
    width:100%;
    height:4rem;
    background-color: white;
    box-shadow:0 0 8px rgb(169, 168, 168);
    padding:0.5rem 1.5rem;
}
#select-role{
    width:80%;
}
#company{
    width:80%;
}
.roleAndCompany{
    margin-top:1.5rem;
    display: grid;
  grid-template-columns: 1fr 1fr; /* two equal columns */
  gap: 1rem;
}
.description p{
    font-size: 0.8em;
}